@using LightScience.ViewModels;
@model RegisterViewModel
@{
    ViewData["Title"] = "Cadastro";
}
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <ul>
            @foreach (var key in ViewData.ModelState.Keys)
            {
                foreach (var error in ViewData.ModelState[key].Errors)
                {
                    <li>@error.ErrorMessage</li>
                }
            }
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container-fluid">
    <div class="row vh-100 align-items-center justify-content-center">
        <!-- Coluna para as mensagens de boas-vindas -->
        <div class="col-md-4 bg-light-green p-4">
            <h4>Bem-vindo ao LightScience!</h4>
            <p>Faça parte da nossa comunidade agora mesmo.</p>
        </div>

        <!-- Coluna para o formulário de cadastro -->
        <div class="col-md-4">
            <div class="card border-0">
                <div class="card-body text-center">
                    <img src="caminho_para_sua_logo.png" alt="Logo" class="mb-4" width="72" height="57">
                    <h3 class="card-title mb-3">Cadastro</h3>

                    <!-- Formulário de Cadastro -->
                    <form asp-action="Register" asp-controller="Account" method="post">
                        <div class="mb-3">
                            <input asp-for="Username" class="form-control" placeholder="Nome de Usuário" required>
                        </div>
                        <div class="mb-3">
                            <input asp-for="Email" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <input asp-for="Password" class="form-control" placeholder="Senha" required>
                                <button type="button" class="btn btn-outline-secondary" id="togglePassword">
                                    <i class="bi bi-eye"></i>
                                </button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                 <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirme a Senha" required>
                                <button type="button" class="btn btn-outline-secondary" id="togglePassword2">
                                    <i class="bi bi-eye"></i>
                                </button>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-green w-100">Cadastrar</button>

                        <!-- Botão para redirecionar à tela de login -->
                        <a asp-action="Login" asp-controller="Account" class="btn btn-link text-muted mt-3">Já tem uma conta? Faça login</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('togglePassword').addEventListener('click', function () {
        const passwordInput = document.getElementById('Password');
        const passwordIcon = document.getElementById('togglePassword').querySelector('i')
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            passwordIcon.classList.remove('bi-eye');
            passwordIcon.classList.add('bi-eye-slash');
        }
        else {
            passwordInput.type = 'password';
            passwordIcon.classList.remove('bi-eye-slash');
            passwordIcon.classList.add('bi-eye');
        }
    });
    document.getElementById('togglePassword2').addEventListener('click', function () {
        const passwordInput = document.getElementById('ConfirmPassword');
        const passwordIcon = document.getElementById('togglePassword2').querySelector('i')
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            passwordIcon.classList.remove('bi-eye');
            passwordIcon.classList.add('bi-eye-slash');
        }
        else {
            passwordInput.type = 'password';
            passwordIcon.classList.remove('bi-eye-slash');
            passwordIcon.classList.add('bi-eye');
        }
    });
</script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">









