@using LightScience.ViewModels;
@model RegisterViewModel
@{
    ViewData["Title"] = "Cadastro";
}
<style>
    .btn-green {
        background-color: #28a745;
        border-color: #28a745;
    }

    .btn-green:hover {
        background-color: #218838;
        border-color: #1e7e34;
    }

    .form-control:focus {
        border-color: #28a745;
        box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25);
    }
</style>
<div class="container-fluid">
    <div class="row vh-100 align-items-center justify-content-center">
        <!-- Coluna para as mensagens de boas-vindas -->
        <div class="col-md-4 bg-light-green p-4">
            <h4>Bem-vindo ao nosso sistema!</h4>
            <p>Faça parte da nossa comunidade agora mesmo.</p>
        </div>

        <!-- Coluna para o formulário de cadastro -->
        <div class="col-md-4">
            <div class="card border-0">
                <div class="card-body text-center">
                    <img src="caminho_para_sua_logo.png" alt="Sua Logo" class="mb-4" width="72" height="57">
                    <h3 class="card-title mb-3">Cadastro</h3>

                    <!-- Formulário de Cadastro -->
                    <form asp-action="Register" asp-controller="Account" method="post">
                        <div class="mb-3">
                            <input asp-for="Username" class="form-control" placeholder="Nome de Usuário" required>
                        </div>
                        <div class="mb-3">
                            <input asp-for="Email" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="mb-3">
                            <input asp-for="Password" class="form-control" placeholder="Senha" required>
                        </div>
                        <div class="mb-3">
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirme a Senha" required>
                        </div>
                        <button type="submit" class="btn btn-green w-100">Cadastrar</button>

                        <!-- Botão para redirecionar à tela de login -->
                        <a asp-action="Login" asp-controller="Account" class="btn btn-link text-muted mt-3">Já tem uma conta? Faça login</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>








