<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - LightScence</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <!-- Adicionando o Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .offcanvas-body .nav-link {
            color: #1e7e34 !important; /* Verde para os links */
            margin-bottom: 10px; /* Espaçamento entre os links */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark" style="background-color: #006400;">
        <div class="container-fluid">
            <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="dropdown">
                <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <span class="text-white">@User.Identity.Name</span> <!-- Nome do usuário -->
                    }
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <form asp-controller="Account" asp-action="SignOut" method="post" style="display:inline;">
                                <button type="submit" class="dropdown-item">Sair</button>
                                @Html.AntiForgeryToken()
                            </form>
                        </li> <!-- Link de logout -->
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="background-color: #ffffff;">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="list-group list-group-flush text-center">
                <ul class="list-unstyled">
                    <a class="nav-link text-dark" asp-controller="Sobre" asp-action="Sobre">
                        <i class="fas fa-home"></i> <strong>SOBRE</strong>
                    </a>
                    <a class="nav-link text-dark" asp-controller="Cuturas" asp-action="Index">
                        <i class="fas fa-leaf"></i> <strong>CULTURAS</strong>
                    </a>
                    <a class="nav-link text-dark" asp-controller="Dashboard" asp-action="Index">
                        <i class="fas fa-chart-line"></i> <strong>DASHBOARD</strong>
                    </a>
                    @* <a class="nav-link text-dark" asp-controller="" asp-action="">
                        <i class="fas fa-file-alt"></i> <strong>RELATÓRIO</strong>
                    </a> *@
                    <a class="nav-link text-dark" asp-controller="Contato" asp-action="Contato">
                        <i class="fas fa-envelope"></i> <strong>CONTATO</strong>
                    </a>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>



