@{
    Layout = "_LayoutNavBar";
}
<!DOCTYPE html>
<html>
<head>
    <title>Real-Time Chart</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <style>
        .chart-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Define a altura da div como a altura total da janela de visualização */
        }
    </style>
</head>
<body>
    <div class="chart-container">
        <canvas id="chartJSContainer" width="400" height="200"></canvas>
    </div>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            // Inicialização do gráfico
            const ctx = document.getElementById('chartJSContainer').getContext('2d');
            const chart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [{
                        label: 'Luz Ambiente',
                        data: [],
                        borderColor: 'rgba(75, 192, 75, 1)',
                        borderWidth: 2,
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'second'
                            }
                        },
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

            // Conexão com o SignalR
            const connection = new signalR.HubConnectionBuilder().withUrl("/dataHub").build();

            connection.on("ReceiveData", (lux) => {
                console.log("Data received:", lux); // Log de depuração
                chart.data.datasets[0].data.push({ x: new Date(lux.dataLeitura), y: lux.quantidadeLux });
                chart.update();
            });

            connection.start()
                .then(() => console.log("SignalR Connected"))
                .catch(err => console.error("SignalR Connection Error: ", err));
        });
    </script>
</body>
</html>
