html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*CSS View Index Cutura*/
/* Adicionando estilo personalizado para os botões */
.btn-edit {
    background-color: #28a745; /* Cor verde do botão Edit */
    border-color: #28a745; /* Cor da borda do botão Edit */
}

.btn-details {
    background-color: #007bff; /* Cor azul do botão Details */
    border-color: #007bff; /* Cor da borda do botão Details */
}

.btn-delete {
    background-color: #dc3545; /* Cor vermelha do botão Delete */
    border-color: #dc3545; /* Cor da borda do botão Delete */
}

.custom-alert-container {
    position: fixed;
    right: 100px; /* Esconde o alerta no início */
    top: 60px;
    z-index: 9999;
    animation: slideInLeft 0.5s forwards; /* Adiciona uma animação de transição */
}

.custom-alert {
    border-radius: 10px;
    padding: 15px 25px;
    font-size: 18px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
}

    .custom-alert button.btn-close {
        color: #fff;
    }

.alert-timer {
    height: 5px;
    background-color: #fff;
    margin-top: 5px;
}

/*View Login CSS*/
/* Adicionando estilo personalizado para os inputs */
.form-control:hover {
    border-color: #28a745; /* Cor verde ao passar o mouse */
}

/* Adicionando estilo personalizado para o botão */
.btn-green {
    background-color: #28a745; /* Cor verde do botão */
    border-color: #28a745; /* Cor da borda do botão */
}

.btn-green:hover {
    background-color: #218838; /* Cor verde escura ao passar o mouse */
    border-color: #1e7e34; /* Cor da borda ao passar o mouse */
}
/* Estilo para o container do formulário */
.form-container {
    margin-top: 50px; /* Margem superior para posicionar abaixo do formulário de registro */
}

/*View Register CSS*/
.btn-green {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-green:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25);
}